@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* body{
    padding-top: 0em;
    width: 100%;
} */
a{
    text-decoration: none !important;
    color: black;
}

/* map */
path:hover{
    fill: rgb(232, 156, 211);
    
     /* border:5px solid blue; */
   }
 code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }