@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    padding-top: 8.188em;
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}